# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build folders
/android/app/debug
/android/app/profile
/android/app/release

# Firebase config – excluded for security
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase_options.dart
