# Dart/Pub
.dart_tool/
.packages
.pub-cache/
.buildlog/
*.dart.js
*.info.json

# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/
generated_plugin_registrant.dart

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Build outputs
build/
**/build/
**/out/
*.class

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Android
.android/
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# Others
*.log
*.tmp
*.lock
*.swp
.DS_Store
*.bak
*.old

# Git
*.orig

# Git LFS
*.lfsconfig

# Exceptions (behåll vissa filer om du verkligen vill det)
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
# Firebase
.firebase/
firebase-debug.log
firebase_options.dart
